{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Memo</th>
      <th>Tärkeys</th>
      <th>Luokka(id)</th>
    </tr>
    {% for memo in memos %}
    <tr>
      <td>{{ memo.name }}</td>
      <td>{{ memo.importance }}</td>
      <td>{{ memo.category_id }}</td>
      <td>
        <form method="POST" action="{{ url_for('memos_add_importance', memo_id=memo.id) }}">
          <input type="submit" value="Lisää tärkeyttä!"/>
        </form>
      </td>
      <td>
        <form method="GET" action="{{ url_for('memos_edit_one', memo_id=memo.id) }}">
          <input type="submit" value="Muokkaa"/>
        </form>
      </td>
      <td>
        <form method="POST" action="{{ url_for('memos_delete_one', memo_id=memo.id) }}">
          <input type="submit" value="Poista"/>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}